.footer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    background-color: #ededed;
    padding: 40px;
}
.footer h3{
    text-transform: uppercase;
}
.footer li{
    list-style: none;
    color: #7f7c7c;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}